.navbar {
  padding: 1px;
  border-radius: 50px;
  margin: 30px;
  background: white;
  box-shadow: 0 4px 6px -4px rgba(145, 158, 171, 0.24);
}

.navbar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.navbar-title {
  font-family: fantasy;
  font-size: xxx-large;
  color: green;
  font-variant-caps: small-caps;
}

.navbar-subtitle {
  font-family: Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  transform: translateX(140px);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 40px;

  .form-class {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value as needed */
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .description {
      font-size: x-large;
      font-weight: bolder;
      color: #1e3b5e;
      font-family: system-ui;
    }

    .form {
      display: flex;
      flex-direction: row;
      gap: 50px;
      align-self: center;

      .column {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-self: center;

        .field {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;
          // align-self: stretch;
        }
      }
    }
  }

  .prediction-card {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;

    .button {
      padding: 10px 20px;
      background: green;
      font-weight: bold;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .button:hover {
      background: darkseagreen;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    h2 {
      font-size: 30px;
      color: #27ae60;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .prix {
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

label {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  font-weight: bold;
}

input[type="number"],
select {
  border-radius: 7px;
  padding: 8px;
  outline: none;
  border: none;
  box-shadow: 0 0 2px rgb(0 0 0 / 76%), 0 16px 32px -4px rgb(167 171 175 / 8%);
}

// select {
//   width: 100%;
// }

.radio {
  display: flex;
  gap: 5px;

  input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    margin: auto;

    &:checked::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #4caf50;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: rgba(76, 175, 80, 0.1);
    }
  }
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
