<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-title">Apartement Price Predictor</li>
    <li class="navbar-subtitle">Grand Tunis</li>
  </ul>
</nav>

<div class="container">
  <div class="form-class">
    <div class="description">Get the price of the apartment of your dreams</div>
    <form (ngSubmit)="predict()" class="form">
      <div class="column">
        <!-- State Dropdown -->
        <div class="field">
          <label for="governorate">Governorate:</label>
          <select id="governorate" [(ngModel)]="selectedGovernorate" name="governorate" required
            (change)="onGovernorateChange()">
            <option value="" disabled>Select a Governorate</option>
            <option *ngFor="let gov of governorates" [value]="gov">{{ gov | titlecase }}</option>
          </select>
        </div>

        <!-- Delegation Dropdown -->
        <div class="field">
          <label for="delegation">Delegation:</label>
          <select id="delegation" [(ngModel)]="selectedDelegation" name="delegation" required
            (change)="onDelegationChange()" [disabled]="!selectedGovernorate">
            <option value="" disabled>Select a Delegation</option>
            <option *ngFor="let del of delegations" [value]="del.delegation">{{ del.delegation | titlecase }}</option>
          </select>
        </div>

        <div class="field">
          <!-- Municipality Dropdown -->
          <label for="locality">Locality:</label>
          <select id="locality" [(ngModel)]="selectedLocality" name="locality" required
            [disabled]="!selectedDelegation">
            <option value="" disabled>Select a Locality</option>
            <option *ngFor="let locality of localities" [value]="locality">{{ locality | titlecase }}</option>
          </select>
        </div>

        <div class="field">
          <!-- Surface Input -->
          <label for="surface">Surface (m²):</label>
          <input type="number" id="surface" [(ngModel)]="surface" name="surface" required
            (input)="validateNumber($event, 'surface', 800)">
        </div>

        <div class="field">
          <!-- Bedrooms Input -->
          <label for="bedrooms">Bedrooms:</label>
          <input type="number" id="bedrooms" [(ngModel)]="bedrooms" name="bedrooms" required
            (input)="validateNumber($event, 'bedrooms', 10)">
        </div>

        <div class="field">
          <!-- Bathrooms Input -->
          <label for="bathrooms">Bathrooms:</label>
          <input type="number" id="bathrooms" [(ngModel)]="bathrooms" name="bathrooms" required
            (input)="validateNumber($event, 'bathrooms', 5)">
        </div>

        <div class="field">
          <!-- Floor Input -->
          <label for="floor">Floor:</label>
          <input type="number" id="floor" [(ngModel)]="floor" name="floor" required
            (input)="validateNumber($event,'floor', 15)">
        </div>
      </div>

      <div class="column">
        <!-- yes/no Fields -->
        <div class="field">
          <label>Elevator:</label>
          <div class="radio">
            <input type="radio" id="elevator-yes" [(ngModel)]="elevator" name="elevator" value="yes" required> yes
            <input type="radio" id="elevator-no" [(ngModel)]="elevator" name="elevator" value="no"> no
          </div>
        </div>

        <div class="field">
          <label>Equipped Kitchen:</label>
          <div class="radio">
            <input type="radio" id="kitchen-yes" [(ngModel)]="equippedKitchen" name="kitchen" value="yes" required> yes
            <input type="radio" id="kitchen-no" [(ngModel)]="equippedKitchen" name="kitchen" value="no"> no
          </div>
        </div>

        <div class="field">
          <label>Balcony:</label>
          <div class="radio">
            <input type="radio" id="balcony-yes" [(ngModel)]="balcony" name="balcony" value="yes" required> yes
            <input type="radio" id="balcony-no" [(ngModel)]="balcony" name="balcony" value="no"> no
          </div>
        </div>

        <div class="field">
          <label>Heating:</label>
          <div class="radio">
            <input type="radio" id="heating-yes" [(ngModel)]="heating" name="heating" value="yes" required> yes
            <input type="radio" id="heating-no" [(ngModel)]="heating" name="heating" value="no"> no
          </div>
        </div>

        <div class="field">
          <label>Air Conditioning:</label>
          <div class="radio">
            <input type="radio" id="ac-yes" [(ngModel)]="airConditioning" name="ac" value="yes" required> yes
            <input type="radio" id="ac-no" [(ngModel)]="airConditioning" name="ac" value="no"> no
          </div>
        </div>

        <div class="field">
          <label>Parking:</label>
          <div class="radio">
            <input type="radio" id="parking-yes" [(ngModel)]="parking" name="parking" value="yes" required> yes
            <input type="radio" id="parking-no" [(ngModel)]="parking" name="parking" value="no"> no
          </div>
        </div>

        <div class="field">
          <label>Garage:</label>
          <div class="radio">
            <input type="radio" id="garage-yes" [(ngModel)]="garage" name="garage" value="yes" required> yes
            <input type="radio" id="garage-no" [(ngModel)]="garage" name="garage" value="no"> no
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="prediction-card" *ngIf="price !== null">
    <h2>Predicted Price:</h2>
    <div class="prix"> {{ price | currency:'TND' }}</div>
    <button (click)="predict()" type="submit" class="button">Predict</button>
  </div>
</div>
