/* Apply a blur effect to the background image */
body {
  background: rgb(246, 247, 249);
  background-image: url('assets/img2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  /* Remove default margin */
  height: 100vh;
  /* Ensure the body covers the full viewport height */
}

/* Create a pseudo-element to blur the background */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/img2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

/* Ensure the content is not blurred */
.container {
  position: relative;
  z-index: 1;
}
